body, html{
  font-family: Helvetica;
  margin: 0px;
  padding: 0px;
  width:auto;
  height: auto;
}
.baner{
  background-color: #AF4448;
  color: white;
  text-align: center;
  height: 20px;
  clear:both;
}
.left{
  background-color: #FFA4A2;
  height: 650px;
  width: 50%;
  float:left;
}
.right{
  background-color: #FFA4A2;
  height: 650px;
  width: 50%;
  float:left;
}
.stopka{
  background-color: #AF4448;
  color: white;
  text-align: center;
  height: 20px;
  clear: both;
}
h4{
  margin: 0px;
}
input[type=submit]{
  background-color: #AF4448;
  color:white;
  padding:5px;
  margin:10px;
}